In [2]:
import math
import numpy as np
import pandas as pd

In [3]:
df_view = pd.read_csv('../raw_data/Excel_files/Margin_result_View_PE.csv',index_col=0)

In [4]:
df_sales = pd.read_csv('../raw_data/Excel_files/Margin_result_Sales_PE.csv',index_col=0)

In [5]:
df_merged = pd.merge(df_view,df_sales, on='item_code')

In [6]:
df_merged.head()

,item_code,avg_conv_rate_x,last_price_x,last_date_x,avg_unique_views_x,PE_x,PE_err_x,has_enough_stat_x,pc2_x,item_skey_x,...,Margin_up_y,Margin_err_up_y,price_down_y,Delta_price_down_y,avg_sales_down,avg_sales_err_down,Margin_down_y,Margin_err_down_y,Group_flag_y,Margin_rate_to_base_y
0,1000022179,0.003121,479.99,2021-02-06,93.258739,-0.0136,0.0033,True,276.870,1.195497e+13,...,35.413232,0.749521,475.214020,122.469512,0.312341,0.006611,38.252282,0.809610,neutral,0.00000
1,1000145006,0.004873,289.99,2021-02-04,188.190476,-0.0086,0.0025,NaN,188.819,NaN,...,47.476716,1.403032,287.104551,52.445329,1.015517,0.030011,53.259126,1.573914,neutral,0.00000
2,1000005727,0.017079,99.99,2021-02-25,170.099034,-0.0246,0.0044,NaN,40.729,NaN,...,124.836973,1.042514,98.995083,42.460145,2.984204,0.024921,126.709720,1.058153,neutral,0.00000
3,1000016028,0.016290,139.99,2021-02-25,26.446154,-0.0328,0.0057,True,52.430,4.880017e+13,...,NaN,NaN,137.218012,62.879254,0.471029,0.007866,29.617959,0.494620,neutral_down,0.05291
4,1000175476,0.055748,83.99,2021-02-25,80.722222,-0.0505,0.0061,NaN,48.799,NaN,...,98.625979,0.459104,83.154286,21.078551,4.617874,0.021496,97.338083,0.453109,neutral,0.00000

In [8]:
df_merged_diff = df_merged[df_merged['Group_flag_x']!=df_merged['Group_flag_y']]

df_merged_same = df_merged[df_merged['Group_flag_x']==df_merged['Group_flag_y']]

In [14]:
df_merged.dtypes

item_code                      int64
avg_conv_rate_x              float64
last_price_x                 float64
last_date_x                   object
avg_unique_views_x           float64
PE_x                         float64
PE_err_x                     float64
has_enough_stat_x             object
pc2_x                        float64
item_skey_x                  float64
View_PE                      float64
View_PE_err                  float64
Delta_price_x                float64
Margin_base_x                float64
price_up_x                   float64
Delta_price_up_x             float64
conv_rate_up                 float64
conv_rate_err_up             float64
avg_unique_views_up          float64
avg_unique_views_err_up      float64
Margin_up_x                  float64
Margin_err_up_x              float64
price_down_x                 float64
Delta_price_down_x           float64
conv_rate_down               float64
conv_rate_err_down           float64
avg_unique_views_down        float64
avg_unique_views_err_down    float64
Margin_down_x                float64
Margin_err_down_x            float64
Group_flag_x                  object
Margin_rate_to_base_x        float64
avg_conv_rate_y              float64
last_price_y                 float64
last_date_y                   object
avg_unique_views_y           float64
PE_y                         float64
PE_err_y                     float64
has_enough_stat_y             object
pc2_y                        float64
item_skey_y                  float64
Sales_PE                     float64
Sales_PE_err                 float64
avg_sales                    float64
Delta_price_y                float64
Margin_base_y                float64
price_up_y                   float64
Delta_price_up_y             float64
avg_sales_up                 float64
avg_sales_err_up             float64
Margin_up_y                  float64
Margin_err_up_y              float64
price_down_y                 float64
Delta_price_down_y           float64
avg_sales_down               float64
avg_sales_err_down           float64
Margin_down_y                float64
Margin_err_down_y            float64
Group_flag_y                  object
Margin_rate_to_base_y        float64
dtype: object

In [16]:
list_of_columns =['item_code','avg_conv_rate_x','last_price_x','avg_unique_views_x','PE_x','PE_err_x','View_PE','View_PE_err','Delta_price_x','price_up_x','price_down_x',
                  'conv_rate_up',
                  'conv_rate_err_up',
                  'Delta_price_down_x',
                  'Sales_PE',
                  'Sales_PE_err',
                  'avg_sales',
                  'price_up_y',
                  'avg_sales_up',
                  'avg_sales_err_up',
                  'price_down_y','avg_sales_down','avg_sales_err_down',
                  'Margin_base_x',
                  'Margin_base_y',
                  'Margin_down_x',
                  'Margin_down_y',
                  'Margin_up_x',
                  'Margin_up_y',
                  'Group_flag_x',
                  'Group_flag_y',
                  'Margin_rate_to_base_x',
                  'Margin_rate_to_base_y']


df_merged_diff[list_of_columns].head()

,item_code,avg_conv_rate_x,last_price_x,avg_unique_views_x,PE_x,PE_err_x,View_PE,View_PE_err,Delta_price_x,price_up_x,...,Margin_base_x,Margin_base_y,Margin_down_x,Margin_down_y,Margin_up_x,Margin_up_y,Group_flag_x,Group_flag_y,Margin_rate_to_base_x,Margin_rate_to_base_y
1,1000145006,0.004873,289.99,188.190476,-0.0086,0.0025,-2.7277,0.5322,54.870076,354.194586,...,50.323342,50.323342,NaN,53.259126,57.741046,47.476716,neutral_up,neutral,0.137499,0.00000
2,1000005727,0.017079,99.99,170.099034,-0.0246,0.0044,-0.9853,0.2722,43.296210,122.128062,...,125.781343,125.781343,NaN,126.709720,146.938483,124.836973,neutral_up,neutral,0.155469,0.00000
3,1000016028,0.016290,139.99,26.446154,-0.0328,0.0057,-1.6602,0.2891,65.208655,141.396923,...,28.091607,28.091607,28.05838,29.617959,28.120794,NaN,neutral,neutral_down,0.000000,0.05291
4,1000175476,0.055748,83.99,80.722222,-0.0505,0.0061,-0.5003,0.1561,21.780832,125.298356,...,98.015502,98.015502,NaN,97.338083,203.956168,98.625979,neutral_up,neutral,0.732779,0.00000
6,1000194074,0.024822,77.99,97.437774,-0.0149,0.0036,-0.9045,0.2371,22.098815,105.275488,...,53.448592,53.448592,NaN,53.138421,82.653429,53.729233,neutral_up,neutral,0.435936,0.00000

In [18]:
df_merged_same[list_of_columns].head(300)

,item_code,avg_conv_rate_x,last_price_x,avg_unique_views_x,PE_x,PE_err_x,View_PE,View_PE_err,Delta_price_x,price_up_x,...,Margin_base_x,Margin_base_y,Margin_down_x,Margin_down_y,Margin_up_x,Margin_up_y,Group_flag_x,Group_flag_y,Margin_rate_to_base_x,Margin_rate_to_base_y
0,1000022179,0.003121,479.99,93.258739,-0.0136,0.0033,-2.0624,0.3918,126.482941,484.813980,...,36.818246,36.818246,36.397796,38.252282,37.217555,35.413232,neutral,neutral,0.000000,0.000000
5,1000176734,0.007736,159.99,100.555556,-0.0149,0.0030,-1.2500,0.3075,80.326378,161.597926,...,62.484149,62.484149,62.225675,63.315723,62.736622,61.656543,neutral,neutral,0.000000,0.000000
7,1000008470,0.020172,89.99,189.558824,-0.0366,0.0073,-2.7069,0.4026,27.121849,90.894415,...,103.706328,103.706328,103.633714,106.910144,103.727248,100.548363,neutral,neutral,0.000000,0.000000
9,1000176716,0.008680,139.99,59.020833,-0.0258,0.0047,-1.0175,0.3118,74.519655,141.396923,...,38.174773,38.174773,37.969212,39.251813,38.377940,37.123894,neutral,neutral,0.000000,0.000000
10,1000012817,0.008463,289.99,125.562500,-0.0128,0.0025,-2.0970,0.4081,85.969076,292.904448,...,91.352937,91.352937,90.669241,94.345367,91.993924,88.409420,neutral,neutral,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,1000015961,0.010587,149.99,270.973684,-0.0355,0.0039,-1.1598,0.2452,70.862017,151.497425,...,203.281303,203.281303,202.084703,206.721594,204.456664,199.870577,neutral,neutral,0.000000,0.000000
489,1000012562,0.005956,289.99,185.453096,-0.0084,0.0023,-1.9157,0.4638,87.949076,292.904448,...,97.150654,97.150654,96.307561,100.598448,97.953043,93.774992,neutral,neutral,0.000000,0.000000
495,1000012855,0.003085,449.99,70.735185,-0.0106,0.0028,-2.1841,0.4650,140.413857,454.512475,...,30.640387,30.640387,30.481015,32.004964,30.786549,29.320616,neutral,neutral,0.000000,0.000000
496,1000194221,0.025424,159.99,40.125730,-0.0219,0.0041,-0.9023,0.2801,31.096378,215.963911,...,31.723225,31.723225,NaN,NaN,60.407529,32.807133,neutral_up,neutral_up,0.644065,0.033597
498,1000167292,0.008982,104.99,65.092308,-0.0255,0.0055,-1.0641,0.2821,54.386891,106.045167,...,31.798953,31.798953,31.628431,32.356225,31.967168,31.248125,neutral,neutral,0.000000,0.000000