In [33]:
import pandas as pd
import numpy as np

In [34]:
df_test = pd.read_csv('../raw_data/Excel_files/Margin_result_sa_20210226.csv')

In [35]:
df_test_items = df_test[['item_code']]

In [36]:
List_of_flag = list([True for i in range(0,221)])

In [37]:
print(List_of_flag)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

In [38]:
df_test_items.insert(1,"Price_elasticity_flag",List_of_flag)

In [39]:
df_test_items

      item_code  Price_elasticity_flag
0    1000007776                   True
1    1000007403                   True
2    1000014946                   True
3    1000015609                   True
4    1000186801                   True
..          ...                    ...
216  1000119823                   True
217  1000123758                   True
218  1000065873                   True
219  1000114113                   True
220  1000127878                   True

[221 rows x 2 columns]

In [40]:
list_of_env = list(['1_de_DE_00000000' for i in range(0,221)])

In [41]:
df_test_items.insert(0,"env",list_of_env)

In [42]:
df_test_items

                  env   item_code  Price_elasticity_flag
0    1_de_DE_00000000  1000007776                   True
1    1_de_DE_00000000  1000007403                   True
2    1_de_DE_00000000  1000014946                   True
3    1_de_DE_00000000  1000015609                   True
4    1_de_DE_00000000  1000186801                   True
..                ...         ...                    ...
216  1_de_DE_00000000  1000119823                   True
217  1_de_DE_00000000  1000123758                   True
218  1_de_DE_00000000  1000065873                   True
219  1_de_DE_00000000  1000114113                   True
220  1_de_DE_00000000  1000127878                   True

[221 rows x 3 columns]

In [43]:
df_test_items = df_test_items.astype({'item_code': 'string'})

In [44]:
df_test_items['id'] = df_test_items['env'] + df_test_items['item_code']

In [47]:
df_test_items= df_test_items[['id', 'Price_elasticity_flag']]

In [48]:
df_test_items.to_csv('../raw_data/Excel_files/Items_to_test_Spricer_ready.csv')